<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	
	<session-factory>
		<property name="hibernate.enable_lazy_load_no_trans">true</property>
		<mapping class="com.endava.aminternship.entity.User" />
		<mapping class="com.endava.aminternship.entity.Tweet" />
	</session-factory>

</hibernate-configuration>