<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="toConsole" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
		</layout>
	</appender>

	<appender name="toFile" class="org.apache.log4j.DailyRollingFileAppender">	
		<param name="file" value="D:/logsTwitter/Logs.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />		
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %d{yyyy-MM-dd HH:mm:ss} %c{1}:%L - %m%n" />
		</layout>
	</appender>
		<!-- Root Logger -->
	<root>
		<priority value="debug" />
		<appender-ref ref="toFile" />
		<appender-ref ref="toConsole" />
	</root>

</log4j:configuration>

